.github/
.gitignore
.gitmodules
.git/
*.md

cmd/Dockerfile
docker-compose.yml
docker-compose.ci.yml
build/
*.log
logs/

tests/

.example.env

Makefile

local.dbconfig.yml

base64.ci.env.out

*.prod.env
base64.prod.env.out

.DS_Store

Infrastructure/