# The secret token to authenticate and authorise the Rust bot app on Discord Gateway
DISCORD_BOT_TOKEN=""

# The app ID of the Discord Bot Application
DISCORD_APP_ID=""

# The connection string to connect to the marketplace DB
DB_ROOT_CONNSTRING=""

# This is used to dictate very specific guild behaviour for slash commands, state, channels, etc.
DISCORD_MAIN_GUILD_ID=""

#   Pairs of descriptors and channel IDs. 
#   Useful to have configurable and easily-accessbile channels at runtime for auditing and notifications.
DISCORD_CHANNEL_TOPICS="Debug-11944915645888,Bans-1234567890112,..."